# Application
SITE_PACKAGES=/usr/local/lib/python3.11/site-packages/
SECRET_KEY=
APP_USER=
APP_PASSWORD=

# Database leadeer settings (required)
LEADER_DB_HOST=localhost
LEADER_DB_PORT=5432
LEADER_DB_NAME=nzdpu_wis
LEADER_DB_USER=postgres
LEADER_DB_USER_TEST=nzdpu_wis_test
LEADER_DB_ENGINE_OPTIONS='{"future": true, "pool_pre_ping": true}'
LEADER_DB_PASS=postgres
LEADER_DB_URI="postgresql+asyncpg://postgres:postgres@nzdpu_db:5432/nzdpu_wis"

# Database replica settings (optional)
FOLLOWER_DB_HOST=localhost
FOLLOWER_DB_PORT=5432
FOLLOWER_DB_NAME=nzdpu_wis
FOLLOWER_DB_USER=postgres
FOLLOWER_DB_USER_TEST=nzdpu_wis_test
FOLLOWER_DB_ENGINE_OPTIONS='{"future": true, "pool_pre_ping": true}'
FOLLOWER_DB_PASS=postgres

# Database Admin
POSTGRES_DB=nzdpu_wis
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Firebase
FB_api_key=
GCP_PROJECT=
FIREBASE_AUTH_EMULATOR_HOST=

# Cache
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_TTL=3600
REDIS_ENABLED=1

# Google Cloud Platform
GCP_DEFAULT_BUCKET=
GCP_DEFAULT_SERVICE_ACCOUNT_EMAIL=
