# Application
SITE_PACKAGES=/usr/local/lib/python3.11/site-packages/
SECRET_KEY=
APP_USER=nzdpu@test.com
APP_PASSWORD=123456789qwe

# Database leadeer settings (required)
LEADER_DB_HOST=localhost
LEADER_DB_PORT=5432
LEADER_DB_NAME=nzdpu_wis
LEADER_DB_USER=postgres
LEADER_DB_USER_TEST=nzdpu_wis_test
LEADER_DB_ENGINE_OPTIONS='{"future": true, "pool_pre_ping": true}'
LEADER_DB_PASS=postgres
LEADER_DB_URI="postgresql+asyncpg://postgres:postgres@nzdpu_db:5432/nzdpu_wis"

# Database replica settings (optional)
FOLLOWER_DB_HOST=localhost
FOLLOWER_DB_PORT=5432
FOLLOWER_DB_NAME=nzdpu_wis
FOLLOWER_DB_USER=postgres
FOLLOWER_DB_USER_TEST=nzdpu_wis_test
FOLLOWER_DB_ENGINE_OPTIONS='{"future": true, "pool_pre_ping": true}'
FOLLOWER_DB_PASS=postgres


# Database Admin
POSTGRES_DB=nzdpu_wis
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Firebase
FB_api_key=AIzaSyAh8QBryWkp2VA-Lx_XnoGv0nISIypsEf0
#FB_api_key=AIzaSyCu758_Iz_MNM30dDX9CQVemPB8ldSF-j8
GCP_PROJECT=nzdpu-frontend
#GCP_PROJECT=nzdpu-demo
# FIREBASE_AUTH_EMULATOR_HOST="firebase_auth_emulator:9099"
GOOGLE_APPLICATION_CREDENTIALS=/src/nzdpu-frontend-firebase-adminsdk.json
#GOOGLE_APPLICATION_CREDENTIALS=/src/nzdpu-demo-firebase-adminsdk-f3kjt-e4aa802fb5.json
GCP_DEFAULT_BUCKET=nzdpu-2547di-document-storage

# Cache
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_TTL=3600
